{#
 # Component: button
 # Args:
 # - classes {string} space separated class list
 # - href {string}
 # - text {string} text for button
 #}

<a {% include "components/button/button-attributes.twig" %}>
  {{ text }}
</a>
