.header {
  z-index: 2;
  padding: 1em 0;
  color: $black;
  background: $white;
  box-shadow: 0 0 20px rgba($black, 0.3);

  &-logo {
    display: inline;
    float: left;
    margin: 0;
  }

  &__link {
    color: $black;
  }

  &__nav {
    float: right;

    &-link {
      margin-left: 1em;
      line-height: 2.5;
      color: $black;
    }
  }
}
